@model IEnumerable<DeviceExplorerPortal.Models.DeviceEntity>

@{
    ViewBag.Title = "Index";
}

<h2>View</h2>

<p>
    @Html.ActionLink("Refresh", "Index")
    @Html.ActionLink("Create new device", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrimaryKey)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SecondaryKey)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ConnectionState)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastActivityTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastConnectionStateUpdatedTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastStateUpdatedTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MessageCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SuspensionReason)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ConnectionString)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrimaryKey)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecondaryKey)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConnectionState)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastActivityTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastConnectionStateUpdatedTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastStateUpdatedTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MessageCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SuspensionReason)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConnectionString)
            </td>
            <td>
                @Html.ActionLink("Copy connection string to clipboard", "CopyConnectionString", new {id = item.Id})
            </td>
        </tr>
    }

</table>



<script>
        function copyToClipboard(text) {
            window.prompt("Copy to clipboard: Ctrl+C, Enter", text);
        }

        //function copyTextToClipboard(text) {
        //    var textArea = document.createElement("textarea");

        //    //
        //    // *** This styling is an extra step which is likely not required. ***
        //    //
        //    // Why is it here? To ensure:
        //    // 1. the element is able to have focus and selection.
        //    // 2. if element was to flash render it has minimal visual impact.
        //    // 3. less flakyness with selection and copying which **might** occur if
        //    //    the textarea element is not visible.
        //    //
        //    // The likelihood is the element won't even render, not even a flash,
        //    // so some of these are just precautions. However in IE the element
        //    // is visible whilst the popup box asking the user for permission for
        //    // the web page to copy to the clipboard.
        //    //

        //    // Place in top-left corner of screen regardless of scroll position.
        //    textArea.style.position = 'fixed';
        //    textArea.style.top = 0;
        //    textArea.style.left = 0;

        //    // Ensure it has a small width and height. Setting to 1px / 1em
        //    // doesn't work as this gives a negative w/h on some browsers.
        //    textArea.style.width = '2em';
        //    textArea.style.height = '2em';

        //    // We don't need padding, reducing the size if it does flash render.
        //    textArea.style.padding = 0;

        //    // Clean up any borders.
        //    textArea.style.border = 'none';
        //    textArea.style.outline = 'none';
        //    textArea.style.boxShadow = 'none';

        //    // Avoid flash of white box if rendered for any reason.
        //    textArea.style.background = 'transparent';


        //    textArea.value = text;

        //    document.body.appendChild(textArea);

        //    textArea.select();

        //    try {
        //        var successful = document.execCommand('copy');
        //        var msg = successful ? 'successful' : 'unsuccessful';
        //        console.log('Copying text command was ' + msg);
        //    } catch (err) {
        //        console.log('Oops, unable to copy');
        //    }

        //    document.body.removeChild(textArea);
        //}


        //var copyBobBtn = document.querySelector('.js-copy-bob-btn'),
        //  copyJaneBtn = document.querySelector('.js-copy-jane-btn');

        //copyBobBtn.addEventListener('click', function (event) {
        //    copyTextToClipboard('Bob');
        //});


        //copyJaneBtn.addEventListener('click', function (event) {
        //    copyTextToClipboard('Jane');
        //});
</script>
